.flex-row {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

button {
    width: 350px;
    height: 75px;
    border-radius: 25px;
    background-color: aqua;
    color: darkblue;
    border: solid 3px darkblue;
    font-size: xx-large;
}

form {
    text-align: center;
}

main p {
    width: 50%;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

#choiceSelection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#scoreList {
    display: flex;
    flex-direction: column;
    align-items: center;
}