#wrapper {
    position: absolute;
    left: 35%;
    top: 15%;
    width: 500px;
    height: 500px;
    border: 2px solid blue;
    border-radius: 1rem;
}

#startTime {
    background-color: aqua;
    margin-left: 38%;
    padding: 15px 20px;
    font-size: 15px;
    color: blue;
    text-align: center;
    text-decoration: none;
}

#questionsDiv {
    margin: 25px;
}

#currentTime {
    float: right;
}

#goBack {
    background-color: aqua;
    position: relative;
    padding: 10px;
    font-size: 15px;
    color: blue;
    top: 30%;
    left: 65%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    background-color: aqua;
    position: relative;
    padding: 10px;
    font-size: 15px;
    color: blue;
    top: 30%;
    right: 5%;
    text-align: center;
    text-decoration: none;
}

#Submit {
    background-color: aqua;
    padding: 15px 30px;
    margin-left: 35%;
    font-size: 20px;
    color: blue;
}

#createDiv {
    margin-top: 20px;
    border-top: 3px solid gray;
}

button {
    border-radius: 7px;
}

textarea {
    width: 92%;
    margin: 15px;
}

h1 {
    text-align: center;
}

li {
    background-color: aqua;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: blue;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 3px solid gray;
}

@media screen and (max-width: 790px) {

    body {
        max-width: 790px;
    }

    #wrapper {
        position: absolute;
        left: 20%;
    }

    a {
        margin-left: 20%;
    }

    #goBack {
        position: relative;
        left: 65%;
    }

    #clear {
        position: relative;
        right: 5%;
    }

}

@media screen and (max-width: 650px) {

    body {
        min-width: 650px;
    }

    #wrapper {
        position: absolute;
        left: 10%;
    }

    a {
        margin-left: 10%;
    }
    
}